$main-color: #3E4056;
$black-color: #3E3F58;
$primary-color: #ED5267;
$red-color: #F05D63;
$white-color: #FFF;
$background-color: #F2F2F2;
$light-grey-color: #ECF1F8;
$grey-color: #B2B3BB;

$gradient-color: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
$back-gradient-color: linear-gradient(135deg, #E32C75 0%, #FF974F 100%);

$open-sans-font: 'OpenSans', Arial, Helvetica, sans-serif;
$montserrat-font: 'Montserrat', Arial, Helvetica, sans-serif;

$main-font: 400 16px/1.5 $open-sans-font;

$tablet: 1024px;
$mobile: 768px;
$mobile-sm: 480px;